@model ShopSectionModel
        <section class="shop-section pa-0">
            <div class="auto-container">
                <div class="inner-container sec-pad">
                    <div class="sec-title">
                        <h2>Koleksiyonumuz</h2>
                        <p>En iyisini seçmek için öne çıkardığımız bazı ürünler var.</p>
                        <span class="separator" style="background-image: url(assets/images/icons/separator-1.png);"></span>
                    </div>
                    <div class="sortable-masonry">
                        <div class="filters">
                            <ul class="filter-tabs filter-btns centred clearfix">
                                <li class="active filter" data-role="button" data-filter=".best_seller">Çok Satanlar</li>
                                
                            </ul>
                        </div>
                        <div class="items-container row clearfix">
	                    
                            @foreach (var item in Model.Categories)
                            {
                        @foreach (var subitem in Model.ProductCategories.Where(x => x.CategoryId == item.Id || x.CategoryId == item.ParentId).ToList())
                        {
    {
	                        var product = Model.Products.FirstOrDefault(x => x.Id == subitem.ProductId);     
	    
	    <div class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller">
                                <div class="shop-block-one">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img src="@Model.ProductImages.FirstOrDefault(x => x.ProductId == subitem.ProductId).ImageUrl" alt="">
                                           
                                            <ul class="info-list clearfix">
                                                <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                                                <li><a href="/urun/@product.SeoLink">Ürün Detayı</a></li>
                                                <li><a href="@Model.ProductImages.FirstOrDefault(x => x.ProductId == subitem.ProductId).ImageUrl" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                            </ul>
                                        </figure>
                                        <div class="lower-content">
                                            <a href="/urun/@product.SeoLink">@product.Name</a>
                                            <span class="price">@product.Price.ToString("C")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
	                 
                        }
                    

                            }
	                 
                    </div>
                    <div class="more-btn centred"><a href="shop.html" class="theme-btn-one">Tüm Ürünler<i class="flaticon-right-1"></i></a></div>
                </div>
            </div>
        </section>
