<div class="sticky-header">
	<div class="auto-container">
		<div class="outer-box clearfix">
			<div class="logo-box pull-left">
				<figure class="logo"><a href="/home"><img src="assets/images/small-logo.png" alt=""></a></figure>
			</div>
			<div class="menu-area pull-right">
				<nav class="main-menu clearfix">
					<!--Keep This Empty / Menu will come through Javascript-->
				</nav>
			</div>
		</div>
	</div>
</div>